<html>>

<body>
    <div class="header">
        <nav id="nav-bar">
            {{!-- <button class="nav-link"></button> --}}
            <a href="/" class="nav-link">HOME</a>
        </nav>
    </div>
    <div style="height:30px ;">
        <h1></h1>
    </div>
    <div class="title2">Please Enter your Expence and select Expence Type</div>


    </div>
    <form action="/addExpence" method="post" class="input-class">

        <div class="container">
            <div class="row">

                <div class="col-6 name-input ">
                    {{!-- <h3 style="padding-right: 10px;">NAME</h1> --}}
                        <input class="amount" name="amount" style="padding-left: 20px; height: 30px;" type="number"
                            placeholder="Enter Expence" />
                        {{!-- <div style="padding-left: 30px;">{{counter}}</div> --}}
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">

                <div class="col-12 radioBtn ">

                    <br>
                    <label for="btn" class="label">TRAVEL</label>
                    <input class="radio" id="btn" name="btn" type="radio" value="travel" />

                    <label for="btn2" class="label">FOOD</label>
                    <input class="radio" id="btn2" name="btn" type="radio" value="food" />

                    <label for="btn3" class="label">TOILETRIES</label>
                    <input class="radio" id="btn3" name="btn" type="radio" value="toiletries" />

                    <label for="btn4" class="label">COMMUNICATION</label>
                    <input class="radio" id="btn4" name="btn" type="radio" value="communication" />
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">

                <div class="col-12 secongBTN">
                    <button type="" class="btn2" value="SUBMIT">ADD EXPENCE</button>
                </div>
                <br>


            </div>
        </div>

    </form>
        <br>

    <form action="/expenses" method="get" class="input-class">
        <br><br>
        <div class="container">
            <div class="row">

                <div class="col-12 secongBTN">
                    <button type="" class="btn2" value="SUBMIT">SHOW EXPENSES </button>
                </div>

            </div>
        </div>
    </form>





</body>

</html