

<body>
    <div class="header">
        <nav id="nav-bar">
            {{!-- <button class="nav-link"></button> --}}
            <a href="/" class="nav-link">HOME</a>
        </nav>
    </div>
    <br>
    {{#if messages.info}}
    <div style="height:30px ;" class="massages">
        <h3 style="color:green; font-size:15px " class="massages">{{messages.info}}</h3>
    </div>{{/if}}
    
    <br>
    <div class="title2">Please Enter your Expence and select Expence Type</div>


    </div>
    <form action="/addExpence/{{name}}" method="post" class="input-class">

        <div class="container">
            <div class="row">

                <div class="col-6 name-input ">
                    {{!-- <h3 style="padding-right: 10px;">NAME</h1> --}}
                        <input class="amount" name="amount" style="padding-left: 5px; height: 30px;" type="number"
                            placeholder="Enter Expence" />
                        {{!-- <div style="padding-left: 30px;">{{counter}}</div> --}}
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-12 radioBtn ">

                    <p>
                        <label>
                            <input name="group1" value="TRANSPORT" type="radio" checked />
                            <span>TRAVEL</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group1" value="FOOD" type="radio" />
                            <span>FOOD</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" value="ENTERTAINMENT" name="group1" type="radio" />
                            <span>TOILETRIES</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group1" type="radio" value="COMMUNICATION" />
                            <span>COMMUNICATION</span>
                        </label>
                    </p>
                </div>

            </div>

        </div>
        <div class="container">

        </div>
        <br>
        <div class="container">
            <div class="row">

                <div class="col-12 secongBTN">
                    <button type="" class="btn" value="SUBMIT">ADD EXPENCE</button>
                </div>
                <br>


            </div>
        </div>

    </form>
    <br>

    <form action="/expense/{{name}}" method="get" class="input-class">
        <br><br>
        <div class="container">
            <div class="row">

                <div class="col-12 secongBTN">
                    <button type="submit" class="btn" >SHOW EXPENSES </button>
                </div>


            </div>
        </div>
    </form>

    <script src="/timeout.js"></script>
</body>

</html>