<body>


    <form action="/login" method="post">


        <div>
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h1 class="title"> Daily Expenses </h1>
                    </div>
                   
                    <div class="col-12">
                        <h1 class="title">Tracker</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                {{!-- <div class="row">
                    <div class="texInput">
                        <input type="text" name="Name" class="names" placeholder="Name">
                    </div>

                </div> --}}
                <br>
                <div class="row">
                    <div class="texInput">
                        <input type="text" name="name" class="names" placeholder="name">
            
                    </div>

                </div>
            </div>

        </div>
        <br>
        <div>

            <div class="container">
                <div class="row">
                    <div class="texInput">
                        <input type="text" name="email" class="names" placeholder="Email">
                        
                        <button type="submit" class="btn" value="LOGIN">LOGIN</button>
    </form> 
                            <a href="/adduser"<p style="color: yellow;" >Sign Up</p></a>
                    </div>
                    <br>
                    <div class="texInput">
                        
                        
                    </div>

                </div>
            </div>

        </div>


  
</body>

</html>