<body>
    <form action="/adduser" method="post">


        <div>
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h1 class="title"> Daily Expenses </h1>
                    </div>
                   
                    <div class="col-12">
                        <h1 class="title">Tracker</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="texInput">
                        <input type="text" name="Name" class="names" placeholder="Name">
                        {{!-- <button type="" class="btn" value="LOGIN">LOGIN</button> --}}
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="texInput">
                        <input type="text" name="surname" class="names" placeholder="Surname">
            
                    </div>

                </div>
            </div>

        </div>
        <br>
        <div>

            <div class="container">
                <div class="row">
                    <div class="texInput">
                        <input type="text" name="Email" class="names" placeholder="Email">
                        
                    </div>
                    <br>
                    <div class="texInput">
                        
                        <button type="" class="btn" value="LOGIN">LOGIN</button>
                        
                    </div>

                </div>
            </div>

        </div>
    </form>

</body>

</html>